*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.container{
    display: grid;
    grid-template-rows:80vh repeat(5, max-content);
    grid-template-columns: repeat(6,1fr);
}
.section-title{
    color: orange;
    text-align: center;
    padding: 25px;
    font-size: 27px;
}
.section-title::before,
.section-title::after{
    background-color: black;
    content: "";
    display: inline-block;
    height: 1px;
    width: 5%;
    vertical-align: middle;
    position: relative;
}
.section-title::before{
    right: 0.5rem;
    margin-left: 5px;
}
.section-title::after{
    left: 0.5rem;
    margin-right: 5px;
}